{% if not request.is_xhr %}
    <link href="{{theme_static('css/bootstrap.min.css')}}" rel="stylesheet">
{% endif %}


<html>
    <body>
        
        <form method="POST">
            {{ form.csrf_token }}
            <p>
                {{form.name.label}}
                {{form.name}}

                {{form.email.label}}
                {{form.email}}

                {{form.password.label}}
                {{form.password}}

                {{ form.recaptcha }}
            </p>
        </form>
    </body>
</html>